#root {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subtitle {
  color: gray;
}

table {
  background-color: #1a1a1a;
}

input {
  height: 25px;
}

.codigoInput {
  min-width: 320px;
}

.largeButton {
  min-width: 640px;
}